*{
    margin: 0;
    padding: 0;
   /*  box-sizing: border-box; */
}
.modal-wrapper{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal-inner{
	width: calc(100% - 30%);
	background-color: #181818;
	border-radius: 6px;
	padding: 24px;
	box-sizing: border-box;
}
.modal-inner .title{
	font-size: 17px;
}
.modal-overlay{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0,  0.7);
}
