@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header h3{
    color: #ffffff;
}

body{
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
header{
    width: 100%;
    height: 70px;
    background: rgb(38, 39, 38);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #ccc;
    min-width: 1200px;
}
header h1{
    margin: 0 20px;
    color: #fff;
    font-size: 2em;
}
header a {
    text-decoration: none;
}
header form{
    display: flex;
    align-items: center;
}
#search{
    width: 230px;
    height: 30px;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
    padding-left: 15px;
}
main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
main div{
    width: 250px;
    height: 540px;
    margin: 19px 15px;
    background: #3c4250;;
}

.imgM{
    width: 100%;
    height: 89%;
    object-fit: cover;
}
h2{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    color: #fff;
}
a {
    text-decoration-line: none;
}
.hidden {
    display: none;
}
.loginsuccess {
    display: none;
}
#reset {
    border: none;
    color: rgba(255, 255, 255, 0.5);
    outline: none;
    background-color: transparent;
    cursor: pointer;
}
.container {
    width: 1170px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar,
.navbar > .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 768px) {
    .navbar,
    .navbar > .container {
        display: block;
    }
}

.navbar {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: rgb(38, 39, 38);
    padding: 0.4rem 1.15rem;
}
@media (min-width: 576px) {
    .navbar .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .navbar .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .navbar .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .navbar .container {
        max-width: 1140px;
    }
}
.navbar .navbar-header {
    display: flex;
    align-items: center;
}
@media (max-width: 768px) {
    .navbar .navbar-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
}
.navbar .navbar-header .navbar-toggler {
    cursor: pointer;
    border: none;
    display: none;
    outline: none;
}
@media (max-width: 768px) {
    .navbar .navbar-header .navbar-toggler {
        display: block;
    }
}
.navbar .navbar-header .navbar-toggler span {
    height: 2px;
    width: 22px;
    background-color: white;
    display: block;
}
.navbar .navbar-header .navbar-toggler span:not(:last-child) {
    margin-bottom: 0.2rem;
}
.navbar .navbar-header > a {
    font-weight: 500;
    color: white;
}
.navbar .navbar-menu {
    display: flex;
    align-items: center;
    flex-basis: auto;
    flex-grow: 1;
}
@media (max-width: 768px) {
    .navbar .navbar-menu {
        display: none;
        text-align: center;
    }
}
.navbar .navbar-menu .navbar-nav {
    margin-left: auto;
    flex-direction: row;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
@media (max-width: 768px) {
    .navbar .navbar-menu .navbar-nav {
        width: 100%;
        display: block;
        border-top: 1px solid #EEE;
        margin-top: 1rem;
    }
}
.navbar .navbar-menu .navbar-nav > li > a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 1rem;
}
.navbar .navbar-menu .navbar-nav > li > a:hover {
    color: white;
}
@media (max-width: 768px) {
    .navbar .navbar-menu .navbar-nav > li > a {
        border-bottom: 1px solid #eceef3;
    }
}
.navbar .navbar-menu .navbar-nav > li.active a {
    color: white;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
    list-style: none;
    position: absolute;
    top: 150%;
    left: 0;
    background-color: #fff;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    min-width: 160px;
    width: auto;
    white-space: nowrap;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    z-index: 99999;
    border-radius: 0.75rem;
    display: none;
}
@media (max-width: 768px) {
    .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
        position: relative;
        box-shadow: none;
    }
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown li a {
    color: #3c4250;
    padding: 0.25rem 1rem;
    display: block;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown.show {
    display: block !important;
}
.navbar .navbar-menu .navbar-nav .dropdown > .separator {
    height: 1px;
    width: 100%;
    margin-top: 9px;
    margin-bottom: 9px;
    background-color: #eceef3;
}
.navbar .navbar-dropdown {
    position: relative;
}

.navbar .navbar-header > a span {
    color: white;
}

.navbar .navbar-header h4 {
    font-weight: 500;
    font-size: 1.25rem;
}
@media (max-width: 768px) {
    .navbar .navbar-header h4 {
        font-size: 1.05rem;
    }
}